@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
}
/* LAYOUT POSITIONING */
.dev-panel-wrapper {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.header-wrapper {
  @apply bg-sky-800;
  height: 80px;
  /* make sticky */
}

.story-panel-wrapper {
  @apply text-gray-50 bg-slate-400;
  @apply p-4;
  width: 300px;
  height: 100vh;
}

.main-div-wrapper {
  @apply bg-stone-50;
  /* background-color: #f1ead3; */
  height: 100vh;
  display: flex;
}

.main-book-list-wrapper {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.book-list-wrapper {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.book-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.book-img-wrapper {
  border: 1px solid blue;
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

button {
  color: white;
  border: 1px solid white;
  padding: 10px;
}

button:hover {
  background-color: blue;
}
